.LogoContainer {
    font-weight: 500;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    text-decoration: none;
    color: black;
}

.LogoContainer p {
    background-color: transparent;
    font-size: 1.2rem;
}

@media screen and (max-width: 680px) {
    .LogoContainer p{
        display: none;
    }
}
